.up-modal-dialog {
  width: 60%;
}

.show-control {
  display: none;
}

div.alert.ic-removing {
  @extend .fadeOutUp;
}

.up-modal-content {
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
}
